.container{
    padding-bottom: 15px;
}

.header{
    color: snow;
    font-family: "Lucida Sans Unicode";
    font-size: 96px;

}

.text {
    color: snow;
    font-family: "Lucida Sans Unicode";
    font-size: 20px;
    opacity: 0.75;
}

#int {
    color: snow;
}

#dance {
    color: snow;
}

#mood {
    color: snow;
}